


<body>
  <div class="fluid-container">
    <div class="container"> 
        <div class="form-section">
          <div class="form-conatiner">
            
            <p class="links__p"><a>ATENCION!!!</a>

            <div  class="form-section-alert "  >
                <h2>{{mensaje}}</h2>
                     
                <br> <br>
                <div class= "div-4">
                    <a  href="/" class="btn-registrar">Inicio</a>
                    

                </div>
            </div>
          </div>
        </div>
      </div>
     </div>
   </div>
<link rel="stylesheet" type="text/css" href="/css/signup.css" />

<script src="index.js">


</script>
</body> 