<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="utf-8"> 
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
       <link rel="stylesheet" href="/public/css/login.css">   
	
    </head>
<body>

  <div class="container"  >
    <div class="container" > 

       <div  class="form-section-alert "  >
            <h2>DEBE ESTAR LOGUEADO</h2>
                    
          <br> <br>
          <div class= "div-4">
           <a  href="/" class="btn-cancelar">Inicio</a>
          </div>
       </div>
    </div>
 </div>


<link rel="stylesheet" type="text/css" href="/css/login.css" />

<script src="index.js"></script>

</body>

</html>  

