
<body>
  <div class="fluid-container">
    <div class="container"> 
        <div class="form-section">
          <div class="form-conatiner">
            <h2 class="heading__h2"></i>Unison</h2>
            <br><br>  
            <p class="links__p"><a>Crear PlayList</a>

     <form action="/creoPlayList" method="POST" class="container-sm">    

              <label for="Nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" value="" placeholder="Introduce el Nombre">
         
        <input type="submit" class="btn-registrar" value="Crear PlayList">
     </form>
    </div>
  </div>
<link rel="stylesheet" type="text/css" href="/css/signup.css" />

<script src="index.js">


</script>
</body>
