{{> header this}}
<!-- Contenido Principal -->
			<section class="main-content">
				<!-- 1 Fila -->
				<div class="container-name-concentracion">
					<h1 class="title-playlist">Albumes</h1>
					<div class="container-card-concentracion">
						<div class="card-concentracion">
							<div class="card">
								<div class="card-img">
									<img
										src="/img/x100pre.jpg"
										alt="album1"
									/>
								</div>
							</div>
						</div>
						<div class="card-concentracion">
							<div class="card">
								<div class="card-img">
									<img
										src="/img/heroesvillians.jpg"
										alt="album2"
									/>
								</div>
								</div>
						</div>
						<div class="card-concentracion">
							<div class="card">
								<div class="card-img">
									<img
										src="img/jackboys.jpg"
										alt="album3"
									/>
								</div>
							</div>
						</div>
						<div class="card-concentracion">
							<div class="card">
								<div class="card-img">
									<img
										src="img/saturno.jpg"
										alt="album4"
									/>
								</div>
								<!--<h2>Jazz Vibes</h2>
								<p>The original chill instrumental beats playlist.</p>-->
							</div>
						</div>
						<div class="card-concentracion">
							<div class="card">
								<div class="card-img">
									<img
										src="img/scorpion.jpg"
										alt="album5"
									/>
								</div>
								<!--<h2>Focus Flow</h2>
								<p>Uptempo instrumental hip hop beats.</p>-->
							</div>
						</div>
						<div class="card-concentracion">
							<div class="card">
								<div class="card-img">
									<img
										src="img/livelifefast.jpg"
										alt="album6"
									/>
								</div>
								<!--<h2>Workday Lounge</h2>
								<p>Lounge and chill out music for your workday.</p>-->
							</div>
						</div>
						<div class="card-concentracion">
							<div class="card">
								<div class="card-img">
									<img
										src="img/llnm.jpg"
										alt="album7"
									/>
								</div>
								<!--<h2>Beats to think to</h2>
								<p>Focus with deep techno and tech house.</p>-->
							</div>
						</div>
						<div class="card-concentracion">
							<div class="card">
								<div class="card-img">
									<img
										src="img/yhlqmdlg.jpg"
										alt="album8"
									/>
								</div>
								<!--<h2>Beats to think to</h2>
								<p>Focus with deep techno and tech house.</p>-->
							</div>
						</div>
						<div class="card-concentracion">
							<div class="card">
								<div class="card-img">
									<img
										src="img/yeezus.jpg"
										alt="album9"
									/>
								</div>
								<!--<h2>Beats to think to</h2>
								<p>Focus with deep techno and tech house.</p>-->
							</div>
						</div>
						<div class="card-concentracion">
							<div class="card">
								<div class="card-img">
									<img
										src="img/astroworld.jpg"
										alt="album10"
									/>
								</div>
								<!--<h2>Beats to think to</h2>
								<p>Focus with deep techno and tech house.</p>-->
							</div>
						</div>
						<div class="card-concentracion">
							<div class="card">
								<div class="card-img">
									<img
										src="img/masterofpuppets.jpg"
										alt="album11"
									/>
								</div>
								<!--<h2>Beats to think to</h2>
								<p>Focus with deep techno and tech house.</p>-->
							</div>
						</div>
						<div class="card-concentracion">
							<div class="card">
								<div class="card-img">
									<img
										src="img/mrmorale.jpg"
										alt="album12"
									/>
								</div>
								<!--<h2>Beats to think to</h2>
								<p>Focus with deep techno and tech house.</p>-->
							</div>							
						</div>																					
					</div>
				</div>

				<!-- 2 Fila -->
				<div class="container-name-spotify-playlists">
					<h1 class="title-playlist">
						Playlists
					</h1>

					<div class="container-card-spotify-playlists">
						<div class="card-spotify-playlists">
							<div class="card">
								<div class="card-img">
									<img src="img/playlist1.jpg" alt="playlist1">
								</div>
								<h2>Playlistv 1</h2>
								<!--<p>Miley Cyrus is on top of the Hottest 50!</p>-->
							</div>
						</div>
						<div class="card-spotify-playlists">
							<div class="card">
								<div class="card-img">
									<img
										src="img/playlist2.jpg"
										alt="playlist2"
									/>
								</div>
								<h2>Todo Ingles</h2>
								<!--<p>
									New music from Metro Boomin, NLE Choppa and Rae
									Sremmurd.
								</p>-->
							</div>
						</div>
						<div class="card-spotify-playlists">
							<div class="card">
								<div class="card-img">
									<img
										src="img/playlist3.jpg"
										alt="playlist3"
									/>
								</div>
								<h2>Todo Ingles 2</h2>
								<!--<p>The biggest songs of the 2010s.</p>-->
							</div>
						</div>
						<div class="card-spotify-playlists">
							<div class="card">
								<div class="card-img">
									<img
										src="img/playlist4.jpg"
										alt="playlist4"
									/>
								</div>
								<h2>playlist 4</h2>
								<!--<p>
									Rock legends & epic songs that continue to inspire
									generations. Cover: Foo Fighters
								</p>-->
							</div>
						</div>
						<div class="card-spotify-playlists">
							<div class="card">
								<div class="card-img">
									<img
										src="img/playlist5.jpg"
										alt="playlist5"
									/>
								</div>
								<h2>2010</h2>
								<!--<p>The biggest songs of the 2010s.</p>-->
							</div>
						</div>
						<div class="card-spotify-playlists">
							<div class="card">
								<div class="card-img">
									<img
										src="img/playlist6.jpg"
										alt="playlist6"
									/>
								</div>
								<h2>Playlist6</h2>
								<!--<p>The biggest songs of the 2010s.</p>-->
							</div>
						</div>
						<div class="card-spotify-playlists">
							<div class="card">
								<div class="card-img">
									<img
										src="img/playlist7.jpg"
										alt="playlist7"
									/>
								</div>
								<h2>Rock nacional</h2>
								<!--<p>The biggest songs of the 2010s.</p>-->
							</div>
						</div>
						<div class="card-spotify-playlists">
							<div class="card">
								<div class="card-img">
									<img
										src="img/playlist8.jpg"
										alt="playlist8"
									/>
								</div>
								<h2>RKT</h2>
								<!--<p>The biggest songs of the 2010s.</p>-->
							</div>
						</div>
						<div class="card-spotify-playlists">
							<div class="card">
								<div class="card-img">
									<img
										src="img/playlist9.jpg"
										alt="playlist9"
									/>
								</div>
								<h2>2K16 - 2K17</h2>
								<!--<p>The biggest songs of the 2010s.</p>-->
							</div>
						</div>
						<div class="card-spotify-playlists">
							<div class="card">
								<div class="card-img">
									<img
										src="img/playlist10.jpg"
										alt="playlist10"
									/>
								</div>
								<h2>Playlist10</h2>
								<!--<p>The biggest songs of the 2010s.</p>-->
							</div>
						</div>
						<div class="card-spotify-playlists">
							<div class="card">
								<div class="card-img">
									<img
										src="img/playlist11.jpg"
										alt="playlist11"
									/>
								</div>
								<h2>Playlist11</h2>
								<!--<p>The biggest songs of the 2010s.</p>-->
							</div>
						</div>
						<div class="card-spotify-playlists">
							<div class="card">
								<div class="card-img">
									<img
										src="img/playlist12.jpg"
										alt="playlist12"
									/>
								</div>
								<h2>Trap Argentino</h2>
								<!--<p>The biggest songs of the 2010s.</p>-->
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Parte final  -->
			<footer class="footer">
				<div class="container-links-footer">
					<div class="links-footer">
						<h3>Empresa</h3>
						<a href="#">Acerca de</a>
						<a href="#">Empleo</a>
						<a href="#">For the Record</a>
					</div>
					<div class="links-footer">
						<h3>Comunidades</h3>
						<a href="#">Para artistas</a>
						<a href="#">Desarrolladores</a>
						<a href="#">Publicidad</a>
						<a href="#">Inversores</a>
						<a href="#">Proveedores</a>
					</div>
					<div class="links-footer">
						<h3>Enlaces útiles</h3>
						<a href="#">Asistencia</a>
						<a href="#">App gratis para móvil</a>
					</div>
					



				</div>
			</footer>


<div id="player"></div>