
<body>
  <div class="fluid-container">
    <div class="container"> 
        <div class="form-section">
          <div class="form-conatiner">
            <h2 class="heading__h2"></i>Unison</h2>
            <br><br>  
                <p class="links__p"><a>Login de Usuario</a>  </p>

                <form action="/logueo" method="POST" id="form1" class="container-sm">    
                  <input type="text" class="input" id="usuarioId" name="usuario" value="" placeholder="Usuario">
                  <input type="password" class="input" id="passwordId" name="password" placeholder="Contraseña">
                  <div>
                        <!-- <input type="button" onclick="miFunc()" class="btn-registrar" value="Ingresar"> -->
                       <input type="submit" onclick="miFunc()" class="btn-registrar" value="Ingresar">
                  </div>
                </form>
                <a href="/registro" class="btn-cancelar">Registro</a>
                <a href="/" class="btn-cancelar">Inicio</a>
          </div>
      </div>
    </div>
  </div>
<link rel="stylesheet" type="text/css" href="/css/signup.css" />

<script src="index.js">


</script>
</body> 



<script>
  function miFunc() {
   
    login();
  }
</script>

<script>
async function putJSON(data) {
     try{
           const response = await fetch ("/login", {
             method: "PUT", 
            //mode: 'no-cors',
             headers: {
             "Content-Type": "application/json",
          },
           body: JSON.stringify(data),
         });
 
         //En result obtengo la respuesta
         const result = await response.json();
         console.log("Success:", result);
          
         if (result.validar == false) {
          alert("Los datos son incorrectos")
         } else {
           document.getElementById("form1").submit()
         }
 
     } catch (error) {
       console.error("Error:", error);
     }
 }


</script>

<script>
function login() {
    
    let usuario = document.getElementById("usuarioId").value
    let contraseña = document.getElementById("passwordId").value
        
    let data = {
        user: usuario,
        pass: contraseña
    }
    putJSON(data)    
}

</script>
 <!--  <link rel="stylesheet" type="text/css" href="/css/login.css" />   --> 

<script src="index.js"></script>  

</body>

</html>  
