<body>
  <div class="fluid-container">
    <div class="container"> 
        <div class="col-lg-7 form-section">
          <div class="form-conatiner">
            <h2 class="heading__h2"><i style="font-size: 1.5em;" class="fa fa-spotify"></i> Unison</h2>
            <br><br>  
            <p class="links__p"><a href="#">Inicio Sesion</a> 
            <form action="/">
              <label for="name">NOMBRE</label>
              <input type="text" id="name" placeholder="Introduce tu nombre completo">
            
              <label for="name">CONTRASEÑA</label>
              <input type="text" id="name" placeholder="Ingrese su contraseña">
           <br><br>

                       <input type="submit" class="btn-iniciar" value="Iniciar Sesion">
             <input type="submit" class="btn-cancelar" value="Cancelar">
            </form>
          </div>
        
      </div>
    </div>
  </div>

<link rel="stylesheet" type="text/css" href="/css/login.css" />
<script src="index.js"></script>
</body>


