<!-- TopBar -->
<body>
  
			<div class="topbar">
				<div class="container-arrows">
					<div class="container-arrow-left">
						<i class="fa-solid fa-chevron-left"></i>
					</div>
					<div class="container-arrow-right">
						<i class="fa-solid fa-chevron-right"></i>
					</div>
				</div>
				<div class="buttons-user">
					<!--<a href="registro" class="btn-register">Registrarte</a> -->
					<a class="btn-register"> Usuario: {{usuario}}</a>
					<a href="/" class="btn-login btn-full">Cerrar sesión</a>
				</div>
			</div>
			
			<!-- SideBar -->
			
			<nav class="navbar">
			    	<div class="container-logo">
	    				<a class="link-logo"><img src="/img/LOGO.png" width="225" height="98"></a>
		    		</div>
		    		<ul class="nav-main">
		  			<li>
			  			<a href="/"> <i class="fa-solid fa-house"></i>Inicio</a>
		  			</li>
					
			  		<li>
		  				<a href="bajaCanciones">
							<i class="fa-solid fa-magnifying-glass"></i>Eliminar Canciones</a>
			  		</li>
					
					  <li>
						  <a href="bajaUsuarios"><i class="fa-solid fa-music"></i></i>Eliminar Usuarios</a>
					  </li>
			      <li>
			  			<a href="bajaPlaylist"><i class="fa-solid fa-music"></i></i>Eliminar Playlist</a>
					  </li>
    				</ul>
		  </nav>
</body>
