
<body>
  <div class="registro-form">
      <h2>Registro de Usuario</h2>
      <form action="/regi" method="POST" class="container-sm">    
        <input type="text" class="form-control" id="DNI" name="dni" value="" placeholder="DNI">
        <input type="text" class="form-control" id="nombre" name="nombre" value="" placeholder="Nombre">
        <input type="text" class="form-control" id="usuario" name="usuario" value="" placeholder="Usuario">
        <input type="password" class="form-control" id="contraseña" name="pass" value="" placeholder="Contraseña">
        <button  class="btn-registro" type="submit">Registro </button>  
       </form>
       <form action="/" method="GET" class="container-sm">
        
             <input type="submit" class="btn-cancelar" value="Cancelar">
        
     </form>
    </div>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
</body>
 

