
<body>
  <div class="fluid-container">
    <div class="container"> 
        <div class="form-section">
          <div class="form-conatiner">
            <h2 class="heading__h2"></i>Unison</h2>
            <br><br>  
            <p class="links__p"><a>Registro de Usuario</a> 

      <form action="/registro" method="POST" class="container-sm">    
       <form action="/">
              <label for="usuarioNOMBRE">NOMBRE</label>
              <input type="text" class="form-control" id="nombre" name="nombre" value="" placeholder="Introduce tu nombre completo">
              <label for="usuarioEMAIL">EMAIL</label>
              <input id="email" type="email" class="form-control" pattern=".+@gmail.com"  required placeholder="Introduce tu dirección de correo electrónico">
              <label for="usuarioCONTRASEÑA">CONTRASEÑA</label>
              <input type="password" class="form-control" id="contraseña" name="pass" value="" placeholder="Crear una contraseña segura">
             <input type="submit" class="btn-cancelar" value="Cancelar">
         <input type="submit" class="btn-registrar" value="Registrar">
     </form>
    </div>
  </div>
<link rel="stylesheet" type="text/css" href="/css/signup.css" />

<script src="index.js"></script>
</body>
 

